* {
    margin: 0;
    padding: 0;
}
section {
    width: 900px;
    margin: 20px auto;
    background: rgb(12, 10, 50);
    height: 95vh;
    margin-top: 20px;
    border-radius: 20px;
    color: white;
}
fieldset {
    width: 800px;
    height: 370px;
    margin: 20px;
    margin-top: 50px;
    margin-left: 50px;

}
h1 {
    padding-left: 350px;
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
p {
    padding-left: 150px;
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
label {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
}
input {
    margin-right: 20px;
    height: 30px;
    border-radius: 5px;
    background: rgb(12, 10, 50);
    color: white;
    border: white 1px solid;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[placeholder] {
    padding: 10px;
    color: white;
}
.button {
    margin-left: 400px;
    width: 100px;
    margin-top: 10px;
    background: rgb(12, 10, 70);
    border: 2px white solid;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.button:hover {
    background: rgb(12, 10, 100);
}
@media(max-width: 480px) {
    input {
        width: 400px;
    }
}